In [1]:
import pandas as pd
import pooch

## Manage multiple datasets with registry and Pooch class

In [2]:
REGISTRY = {
    "antarctica.csv": "8d32a1a4b500c443981c60fc45a7126b16a9fd6d330c8107a1e584b81e841e53",
    "greenland.csv": "0538ba7f521e5a73a70faa00d7f917a8bbdb549c94a6b823685ff3da985cb939",
}

In [3]:
PUPPY = pooch.create(
    path=pooch.os_cache("mypackage"),
    base_url="https://github.com/santisoler/ice-sheets/raw/main/datasets",
    registry=REGISTRY,
)

In [4]:
def fetch_antarctica():
    fname = PUPPY.fetch("antarctica.csv")
    return pd.read_csv(fname)

def fetch_greenland():
    fname = PUPPY.fetch("greenland.csv")
    return pd.read_csv(fname)

In [5]:
fetch_antarctica()

           date  cummulative_ice_mass_change
0    2002-04-16                         0.00
1    2002-05-08                        19.48
2    2002-08-14                       -58.91
3    2002-09-16                        47.16
4    2002-10-15                        63.42
..          ...                          ...
187  2020-08-13                     -2249.69
188  2020-09-15                     -2437.63
189  2020-10-14                     -2537.64
190  2020-11-12                     -2587.65
191  2020-12-15                     -2746.00

[192 rows x 2 columns]

In [6]:
fetch_greenland()

           date  cummulative_ice_mass_change
0    2002-04-16                         0.00
1    2002-05-08                        67.36
2    2002-08-14                      -219.73
3    2002-09-16                      -242.79
4    2002-10-15                      -207.56
..          ...                          ...
187  2020-08-13                     -4991.28
188  2020-09-15                     -4996.08
189  2020-10-14                     -4928.75
190  2020-11-12                     -4922.26
191  2020-12-15                     -4899.46

[192 rows x 2 columns]

## Download datasets from specific versions

In [7]:
REGISTRY = {
    "antarctica.csv": "8d32a1a4b500c443981c60fc45a7126b16a9fd6d330c8107a1e584b81e841e53",
    "greenland.csv": "0538ba7f521e5a73a70faa00d7f917a8bbdb549c94a6b823685ff3da985cb939",
}

In [8]:
PUPPY = pooch.create(
    path=pooch.os_cache("mypackage"),
    base_url="https://github.com/santisoler/ice-sheets/raw/{version}/datasets",
    version="v0.2.0",
    registry=REGISTRY,
)

In [9]:
def fetch_antarctica():
    fname = PUPPY.fetch("antarctica.csv")
    return pd.read_csv(fname)

def fetch_greenland():
    fname = PUPPY.fetch("greenland.csv")
    return pd.read_csv(fname)

In [10]:
fetch_antarctica()

           date  cummulative_ice_mass_change
0    2002-04-16                         0.00
1    2002-05-08                        19.48
2    2002-08-14                       -58.91
3    2002-09-16                        47.16
4    2002-10-15                        63.42
..          ...                          ...
187  2020-08-13                     -2249.69
188  2020-09-15                     -2437.63
189  2020-10-14                     -2537.64
190  2020-11-12                     -2587.65
191  2020-12-15                     -2746.00

[192 rows x 2 columns]

In [11]:
fetch_greenland()

           date  cummulative_ice_mass_change
0    2002-04-16                         0.00
1    2002-05-08                        67.36
2    2002-08-14                      -219.73
3    2002-09-16                      -242.79
4    2002-10-15                      -207.56
..          ...                          ...
187  2020-08-13                     -4991.28
188  2020-09-15                     -4996.08
189  2020-10-14                     -4928.75
190  2020-11-12                     -4922.26
191  2020-12-15                     -4899.46

[192 rows x 2 columns]

## Download from previous version

In [12]:
REGISTRY = {
    "antarctica.csv": "e5c0f1741bc296bb54a1ec93166efc67e2e1cde8d74f1d8089bc68cf5ee1433d",
    "greenland.csv": "8bf3ba40cd777bc5e18d247fbfbdb05c8ff454fa84059cdc3fc507b38d4e814a",
}

In [13]:
PUPPY = pooch.create(
    path=pooch.os_cache("mypackage"),
    base_url="https://github.com/santisoler/ice-sheets/raw/{version}/datasets",
    version="v0.1.0",
    registry=REGISTRY,
)

In [14]:
def fetch_antarctica():
    fname = PUPPY.fetch("antarctica.csv")
    return pd.read_csv(fname)

def fetch_greenland():
    fname = PUPPY.fetch("greenland.csv")
    return pd.read_csv(fname)

In [15]:
fetch_antarctica()

           date  cummulative_ice_mass_change
0    2002-04-16                         0.00
1    2002-05-08                        19.48
2    2002-08-14                       -58.91
3    2002-09-16                        47.16
4    2002-10-15                        63.42
..          ...                          ...
158  2017-01-22                     -1604.80
159  2017-04-02                     -1929.12
160  2017-04-23                     -1849.02
161  2017-05-12                     -1814.26
162  2017-06-10                     -1812.56

[163 rows x 2 columns]

In [16]:
fetch_greenland()

           date  cummulative_ice_mass_change
0    2002-04-16                         0.00
1    2002-05-08                        67.36
2    2002-08-14                      -219.73
3    2002-09-16                      -242.79
4    2002-10-15                      -207.56
..          ...                          ...
158  2017-01-22                     -4014.72
159  2017-04-02                     -4005.26
160  2017-04-23                     -3971.53
161  2017-05-12                     -3965.31
162  2017-06-10                     -3996.01

[163 rows x 2 columns]